header {
    margin-top: 5%;
    display: flex;
    align-items:center ;
    width: 100%;
    justify-content: space-between;
}


body{
    background: #f4f2ec url("../img/fundo.png") repeat-x;
    font-size: 12px;
}

#container{
    width: 80%;
    margin: 0 auto;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a{
    color: #af670a;
    text-decoration: none;
    margin-right: 2em;
}

nav ul li a:hover{
    color: #227115;
}